<a href="https://colab.research.google.com/github/USIS007920/Programacion-lll/blob/Ejercicios/Ejercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Computo 1:")
n1c1 = float(input("Ingrese la nota del laboratorio 1: "))
n2c1 = float(input("Ingrese la nota del laboratorio 2: "))
pc1 = float(input("Ingrese la nota del parcial: "))

resultadoc1 = n1c1*0.30 + n2c1*0.30 + pc1*0.40
print("Su nota es de: ", resultadoc1)

print("")

print("Computo 2")
n1c2 = float(input("Ingrese la nota del laboratorio 1: "))
n2c2 = float(input("Ingrese la nota del laboratorio 2: "))
pc2 = float(input("Ingrese la nota del parcial: "))

resultadoc2 = n1c2*0.30 + n2c2*0.30 + pc2*0.40
print("Su nota es de: ", resultadoc2)

print("")

print("Computo 3")
n1c3 = float(input("Ingrese la nota del laboratorio 1: "))
n2c3 = float(input("Ingrese la nota del laboratorio 2: "))
pc3 = float(input("Ingrese la nota del parcial: "))

resultadoc3 = n1c3*0.30 + n2c3*0.30 + pc3*0.40
print("Su nota es de: ", resultadoc3)

print("")

print("Nota Final")
ciclo =(resultadoc1 + resultadoc2 + resultadoc3)/ 3
print(ciclo)

Computo 1:
Ingrese la nota del laboratorio 1: 5
Ingrese la nota del laboratorio 2: 8
Ingrese la nota del parcial: 2
Su nota es de:  4.7

Computo 2
Ingrese la nota del laboratorio 1: 4
Ingrese la nota del laboratorio 2: 7
Ingrese la nota del parcial: 8
Su nota es de:  6.5

Computo 3
Ingrese la nota del laboratorio 1: 6
Ingrese la nota del laboratorio 2: 6
Ingrese la nota del parcial: 6
Su nota es de:  6.0

Nota Final
5.733333333333333

In [ ]:
from datetime import datetime
from dateutil.relativedelta import relativedelta

edad = relativedelta(datetime.now(), datetime(2001, 12, 3))
print(f"{edad.years} años, {edad.months} meses y {edad.days} días")

19 años, 8 meses y 4 días

In [ ]:
celsius = int(input("Ingrese la temperatura en grados Celsius: "))

fahrenheit = 9.0/5.0 * celsius +32 

print("{} grados celsius son {} grados fahrenheit" .format(fahrenheit, celsius))

Ingrese la temperatura en grados Celsius: 1
33.8 grados celsius son 1 grados fahrenheit

In [ ]:
edad = lambda num1,num2: num1-num2
num1 = float(input("Introduzca el año actual: "))
num2 = float(input("Introduzca su año de nacimiento: "))
print("Su edad es: ", edad(num1,num2))

Introduzca el año actual: 2021
Introduzca su año de nacimiento: 2001
Su edad es:  20.0

In [ ]:
print("Computo 1")
resultado1 = lambda num1,num2,num3: (num1+num2+num3)/3
num1 = float(input("Ingrese nota de laboratorio 1: "))
num2 = float(input("Ingrese Nota de laboratorio 2: "))
num3 = float(input("Ingrese la nota de parcial: "))
print("La nota es: ", resultado1(num1,num2,num3))

print("")

print("Computo 2")
resultado2 = lambda num1,num2,num3: (num1+num2+num3)/3
num1 = float(input("Ingrese nota de laboratorio 1: "))
num2 = float(input("Ingrese nota de laboratorio 2: "))
num3 = float(input("Ingrese la nota de parcial: "))
print("La suma es: ", resultado2(num1,num2,num3))

print("")

print("Computo 3")
resultado3 = lambda num1,num2,num3: (num1+num2+num3)/3
num1 = float(input("Ingrese nota de laboratorio 1: "))
num2 = float(input("Ingrese nota de laboratorio 2: "))
num3 = float(input("Ingrese nota de parcial: "))
print("La suma es: ", resultado3(num1,num2,num3))

print("")

print("Nota Final")
nf = lambda nf1,nf2,nf3: (nf1+nf2+nf3)/3
nf1 = float(input("Ingrese la nota del computo 1: "))
nf2 = float(input("Ingrese la nota del computo 2: "))
nf3 = float(input("Ingrese la nota del computo 3: "))
print("La nota final es: ", nf(nf1,nf2,nf3))

Computo 1
Ingrese nota de laboratorio 1: 6
Ingrese Nota de laboratorio 2: 7
Ingrese la nota de parcial: 8
La nota es:  7.0

Computo 2
Ingrese nota de laboratorio 1: 3
Ingrese nota de laboratorio 2: 4
Ingrese la nota de parcial: 9
La suma es:  5.333333333333333

Computo 3
Ingrese nota de laboratorio 1: 7
Ingrese nota de laboratorio 2: 8
Ingrese nota de parcial: 6
La suma es:  7.0

Nota Final
Ingrese la nota del computo 1: 7.0
Ingrese la nota del computo 2: 5.3
Ingrese la nota del computo 3: 7.0
La nota final es:  6.433333333333334

In [ ]:
conversion = lambda c: (c*9/5) + 32
c = float(input("Celsius: "))
print("Grados C: ", c, " a F: ", conversion(c))

Celsius: 50
Grados C:  50.0  a F:  122.0

In [ ]:
n = int(input("Tabla: "))
i=1
while i<=10:
  print(n,"X",i,"=",n*i)
  i+=1

Tabla: 2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [ ]:
edad = int(input("Edad: "))
if edad<2:
  print("Eres un bebe.")
elif edad<12:
  print("Eres un niño")
elif edad<18:
  print("Eres un adolescente")
elif edad<=55:
  print("Eres joven")
elif edad<=65:
  print("Eres adulto, un señor")
elif edad<=80:
  print("Eres un adulto mayor")
elif edad<130:
  print("Larga vidad")
else:
  print("Error en la edad")

Edad: 2
Eres un niño

In [ ]:
año_actual = 2021;
mes_actual = 8;
dia_actual = 26;

año_nacimiento = int(input("ingrese su año de nacimiento: "));
mes_nacimiento = int(input("ingrese su mes de nacimiento: "));
dia_nacimiento = int(input("ingrese el dia de nacimiento: "));

if(mes_nacimiento>=mes_actual):
  if(dia_nacimiento>dia_actual):
    edad = año_actual - año_nacimiento - 1
  else:
      edad = año_actual - año_nacimiento
else:
  edad = año_actual - año_nacimiento
print("La edad es: ", edad)

ingrese su año de nacimiento: 2001
ingrese su mes de nacimiento: 12
ingrese el dia de nacimiento: 3
La edad es:  20

In [ ]:
sueldo = float(input("Sueldo: "))
isss = sueldo*0.03
afp = sueldo*0.0625
sueldoNeto = sueldo - (isss + afp)

tablaIsr = [
            [0.01,   472.0,   0,   0    ],
            [472.01, 895.24,  0.1, 17.67],
            [895.25, 2038.10, 0.2, 60   ],
            [2038.11, 99999 , 0.3, 288.57]
]
isr = 0
for tramo in tablaIsr:
  if sueldoNeto>=tramo[0] and sueldo<=tramo[1]:
    isr = (sueldoNeto - tramo[0])*tramo[2] + tramo[3]
sueldoNeto -= isr
print(sueldo, "Deducciones: ", (isss + afp + isr), " Sueldo Neto: ", sueldoNeto)

Sueldo: 750
750.0 Deducciones:  107.90650000000001  Sueldo Neto:  642.0935

In [4]:
valores = [
           [],
           [0, 1, 0.85, 23.8, 35.11, 7.74, 8.75, 621.61, 6.46, 73.25, 73.50], #monedas
           [0, 1, 100, 0.001, 0.000621371, 1.09361, 3.28084, 39.3701, 0.000539957, 1000, 1000000000], #Longitud
           [0, 1, 16, 0.0714286, 0.0005, 0.000446429, 453600000000, 453592, 453.592, 0.453592, 0.000453592], #Masa
           [0, 1, 0.001, 0.000001, 0.000000953674316, 0.000000001, 0.000000000931323, 0.000000000001, 0.000000000000909, 1000000000000000, 0.000976562], #Almacenamiento
           [0, 1, 0.0166667, 0.000277778, 0.0000115741, 0.00000165344, 0.000000031688088, 1000000, 1000],#Tiempo
           [0, 1, 1000, 0.001, 202.8841, 4.226753, 2.113376, 0.264172, 61.02374, 0.035315, 0.001308],#Volumen
           [0, 1, 1000000, 10000, 0.0001, 0.000001, 1550.003, 10.76391, 1.19599, 0.000247, 0.000000386102159],#Area
           []
]
etiquetas = [
           [],
           ["1. Dolar", "2. Euro", "3. Lempira","4. Cordobas", "5. Quetzalez", "6. Colon SV", "7. Colon CR", "8. Yuan", "9. Rublo Ruso", "10. Rupia India"],
           ["1. Metro", "2. Centimetro", "3. Kilometro", "4. Milla", "5. Yarda", "6. Pie", "7. Pulgada", "8. Milla Nautica", "9. Milimetro", "10. Nanometro"],
           ["1. Libra","2. Onza", "3. Stone ", "4. Tonelada Corta ", "5. Tonelada Larga", "6. Microgramo ", "7. Miligramo", "8. Gramo", "9. Kilogramo", "10. Tonelada "],
           ["1. Byte", "2. Kilobyte", "3. Megabyte ", "4. Megabibyte ", "5. Gigabytes", "6. Gigabibytes", "7. Terabytes", "8. Tebibytes", "9. Petabytes", "10. kilobibytes"],
           ["1. Segundos", "2. Minutos", "3. Horas", "4. Dias", "5. Semanas", "6. Años", "7. Microsegundos", "8. Milesegundos"],
           ["1. Litros", "2. Mililitros", "3. Metros Cubicos", "4. Cucharadita", "5. Tazas", "6. Pintas", "7. Galones", "8. Pulgadas Cubicas", "9. Pies Cubicos", "10. Yardas Cubicas"],
           ["1. Metros Cuadrados", "2. Milimetros Cuadrados", "3. Centimetros Cuadrados", "4. Hectareas", "5. Kilometros Cuadrados", "6. Pulgadas Cuadradas", "7. Pie Cuadrado", "8. Yardas Cuadradas", "9. Acres", "10. Millas Cuadradas"],
           []
]
def convertir(conversor, de, a, cantidad):
  return valores[conversor][a]/valores[conversor][de] * cantidad

print("*** MENU ***")
print("* 1. Monedas")
print("* 2. Longitud")
print("* 3. Masa")
print("* 4. Almacenamiento")
print("* 5. Tiempo")
print("* 6. Volumen")
print("* 7. Area")

conversor = int(input("Conversor: "))

print( etiquetas[conversor] )

de = int(input("DE: "))
a = int(input("A: "))
cantidad = float(input("Cant: "))

print("Respuesta: ", convertir(conversor, de, a, cantidad) )

*** MENU ***
* 1. Monedas
* 2. Longitud
* 3. Masa
* 4. Almacenamiento
* 5. Tiempo
* 6. Volumen
* 7. Area
Conversor: 3
['1. Libra', '2. Onza', '3. Stone ', '4. Tonelada Corta ', '5. Tonelada Larga', '6. Microgramo ', '7. Miligramo', '8. Gramo', '9. Kilogramo', '10. Tonelada ']
DE: 5
A: 9
Cant: 4
Respuesta:  4064.1804183867985

In [5]:
print("1: 1-18")
print("2: 19-28")
print("3: 29 en adelante")
print ("")
hl=int(input("coloque aqui opcion: "))
print ("")
if hl==1:
    dol1=int(input("introdusca cantidad de metros consumidos dentro del rango establecido: "))
    pesc=dol1=6
    print ("")
    print ("TOTAL=", pesc)
if hl==2:
    pesc1=float(input("introdusca cantidad de metros consumidos dentro del rango establecido: "))
    dol2=(pesc1-18)*0.45+6
    print("")
    print("TOTAL=", dol2)
if hl==3:
    dol3=int(input("introdusca la cantidad de metros consumidos dentro del rango establecido: "))
    e=(dol3-28)*0.65+(28-18)*0.45+6
    print("")
    print("TOTAL=", e)

1: 1-18
2: 19-28
3: 29 en adelante

coloque aqui opcion: 1

introdusca cantidad de metros consumidos dentro del rango establecido: 8

TOTAL= 6